In [ ]:
#!pip install pymysql

In [1]:
!pip show pymysql

Name: PyMySQL
Version: 1.1.2
Summary: Pure Python MySQL Driver
Home-page:
Author:
Author-email: Inada Naoki <songofacandy@gmail.com>, Yutaka Matsubara <yutaka.matsubara@gmail.com>
License-Expression: MIT
Location: C:\Users\user\anaconda3\Lib\site-packages
Requires:
Required-by:

In [2]:
sql = """
CREATE TABLE product (
    id INT UNSIGNED NOT NULL AUTO_INCREMENT, 
    name VARCHAR(20) NOT NULL,
    model_num VARCHAR(10) NOT NULL,
    model_type VARCHAR(10) NOT NULL,
    PRIMARY KEY(id)
);
"""
print(sql)

CREATE TABLE product (
    id INT UNSIGNED NOT NULL AUTO_INCREMENT,
    name VARCHAR(20) NOT NULL,
    model_num VARCHAR(10) NOT NULL,
    model_type VARCHAR(10) NOT NULL,
    PRIMARY KEY(id)
);

In [ ]:
import pymysql

db = pymysql.connect(host='localhost', port=3306, database='python_db',\
                    user='python',password='python',charset='utf8')
cursor = db.cursor()
cursor.execute(sql) #execute : 실행
db.commit() #sql실행 후 db.commit을 해야 db에 반영이 됨

In [ ]:
cursor.execute('show tables')
cursor.execute('drop table product')

0

In [9]:
try:
    db.close()
except:
    pass

In [11]:
import pymysql

#db와 연결
db = pymysql.connect(host='localhost', port=3306, database='python_db',\
                    user='python',password='python',charset='utf8')

try:
    #cursor 생성하고 cursor가 open되어 있는(with문으로 계속 open) query문을 여러개 실행
    with db.cursor() as cursor:
        #table drop하는 query 실행
        #cursor.execute('drop table product')
        #product table 생성 query실행
        cursor.execute(sql)
        #db에 실제로 적용한다
        db.commit()
        
        for num in range(10,20): #반복문으로 10~19까지 값 생성 
            name = 'S20'+str(num)  #s20이라는 문자열과 숫자를 조합해 이름 생성
            ins_sql = \
            'insert into product (name,model_num,model_type) values (%s, %s, %s)'
            cursor.execute(ins_sql,(name,'7700','Phone'))
            print(ins_sql)
            #(name,'7700','Phone') =  (%s, %s, %s) 차례로 각각 %s에 값이 들어감 [name=%s ,7700= %s]
#             ins_sql = "insert into product (name,model_num,model_type) \
#             values('"+name+"','7700','Phone')"
#             cursor.execute(ins_sql)
            
        db.commit()
        print(cursor.lastrowid)
except Exception as exp:
    print(exp)  #insert하다 실패하면 db에 반영하지 않고 rollbak함
    db.rollback()
finally:
    db.close()

insert into product (name,model_num,model_type) values (%s, %s, %s)
insert into product (name,model_num,model_type) values (%s, %s, %s)
insert into product (name,model_num,model_type) values (%s, %s, %s)
insert into product (name,model_num,model_type) values (%s, %s, %s)
insert into product (name,model_num,model_type) values (%s, %s, %s)
insert into product (name,model_num,model_type) values (%s, %s, %s)
insert into product (name,model_num,model_type) values (%s, %s, %s)
insert into product (name,model_num,model_type) values (%s, %s, %s)
insert into product (name,model_num,model_type) values (%s, %s, %s)
insert into product (name,model_num,model_type) values (%s, %s, %s)
10

In [12]:
import pymysql

db = pymysql.connect(host='localhost', port=3306, db='python_db',\
                    user='python',passwd='python',charset='utf8')

try:
    #select, update
    with db.cursor() as cursor:
        cursor.execute('select * from product where id=3')
        result = cursor.fetchone()
        print(type(result),result, result[1])
        
        #product를 update한 후 model_type 컬럼의 값을 %s하면 그 자리에 핸드폰이라는 값이 치환됨
        upd_sql = \
        "update product set model_type='%s' \
        where name between 'S2010' and 'S2015'" % '핸드폰'
        cursor.execute(upd_sql)
        db.commit()
        #갱신된 row 갯수
        print(cursor.rowcount)
        
        cursor.execute('select * from product')
        result_list = cursor.fetchall()
        print(type(result_list))
        for row in result_list:
            print(row[0],row[1],row[2],row[3])
            
        # model_type별로 group by 하는 쿼리 실행 
        cursor.execute('select model_type,count(*) from product group by model_type')
        for row in cursor.fetchall():
            print(row)
finally:
    db.close()

<class 'tuple'> (3, 'S2012', '7700', 'Phone') S2012
6
<class 'tuple'>
1 S2010 7700 핸드폰
2 S2011 7700 핸드폰
3 S2012 7700 핸드폰
4 S2013 7700 핸드폰
5 S2014 7700 핸드폰
6 S2015 7700 핸드폰
7 S2016 7700 Phone
8 S2017 7700 Phone
9 S2018 7700 Phone
10 S2019 7700 Phone
('Phone', 4)
('핸드폰', 6)

In [13]:
# delete 하고 select all
#name 컬럼의 값이 's2014' 와 's2015' 인 행을 삭제하세요 sql의 in 구문을 사용하세요

con = pymysql.connect(host='localhost', port=3306, database='python_db',\
                    user='python',password='python',charset='utf8')
#print(type(con), con)

try:
    with con.cursor() as cursor:
        sql = "delete from product where name in (%s,%s)"
        cursor.execute(sql,('S2012','S2013'))
        con.commit()
        # 삭제된 건수 출력
        print(cursor.rowcount)
                
        sql = "select * from product order by id"
        cursor.execute(sql)
        for row in cursor.fetchall():
            print(row[0],row[1],row[2],row[3])  #row가 튜플로 반환됨
            
except Exception as ex:
    con.rollback()
    print(ex)
finally:
    con.close()

2
1 S2010 7700 핸드폰
2 S2011 7700 핸드폰
5 S2014 7700 핸드폰
6 S2015 7700 핸드폰
7 S2016 7700 Phone
8 S2017 7700 Phone
9 S2018 7700 Phone
10 S2019 7700 Phone